/* CSS UNIVERSAL */
body{
    font-family: sans-serif;
    margin: 0;
    
}

/* HEADER CSS */
a{
    text-decoration: none;
    color: whitesmoke;
}

header{
    display: flex;
    min-height: 80px;
    background-color: black; 
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    font-family: 'Koulen', cursive;
    font-size: 2vw;
}

.logo{
    display: flex;
    align-items: center;
}

.logo img{
    height: 50px;
    
}

nav a{
    font-weight: 600;
    padding-right: 10px;
}

nav a:hover{ 
    color: crimson;
    font-size: larger;
    
}



/* FOOTER CS */
footer{
    font-family: 'Koulen', cursive;

    background-color: black;
    color: white;
    position: sticky;
    bottom: 0;
    left: 0;
    right: 0;
    height: auto;
    width: 100%;
    padding-top: 40px;
}

footer p{
    align-items: center;
    justify-content: center;
    text-align: center;
}

.redes{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem 0 3rem 0;
    flex-wrap: wrap;

}

.redes li{
    padding: 0 10px;
}

.redes a{
    text-decoration: none;
    color: #fff;
    border: 1.1px solid white;
    padding: 5px;
    border-radius: 50%;
}

.redes a i{
    font-size: 1.1rem;
    width: 20px;
    transition: color .4s ease;
}

.redes a:hover i{
    color: rgb(255, 0, 0);
}


/* LANDING CSS */
.foto {
    max-width: 100%;
    height: auto;
  }
  



/* Musica CSS */

.YoutubeVideos{
    display: flex;
    flex-wrap: wrap;
    background-color: rgba(36, 1, 1, 0.801);
    max-width: 100%;
}
   
.YoutubeVideos > div{
    background-color: #03f303ab;
    width: auto;
    margin: 10px;
    text-align: center;
    line-height: 75px;
    font-size: 30px;
}



/* Media querys */
@media (max-width:700px){
    header{
        flex-direction: column;
    }

    nav{
        padding: 10px 0 px;
    }
}


@media (max-width:500px) {
    .footer-menu ul{
      display: flex;
      margin-top: 10px;
      margin-bottom: 20px;
    }
    }


    